In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
from sklearn.metrics import accuracy_score
df=pd.read_csv('/kaggle/input/titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df['Cabin']=df['Cabin'].fillna('')
df[['Cabin_block', 'Cabin_number']] = df['Cabin'].str.extract(r'(\D)(\d+)')
df['Cabin_block']=df['Cabin_block'].replace(['C', 'E', 'G', 'D', 'A', 'B', 'F'], [1, 2, 3, 4, 5, 6, 7])
df['Cabin_block']=df['Cabin_block'].fillna(0)
df['Cabin_block'].unique()
df['Cabin_number']=df['Cabin_number'].fillna(0)

In [4]:
del df['Fare']
del df['Ticket']
del df['Name']
del df['Cabin']
del df['PassengerId']

In [5]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,Cabin_block,Cabin_number
0,0,3,male,22.0,1,0,S,0.0,0
1,1,1,female,38.0,1,0,C,1.0,85
2,1,3,female,26.0,0,0,S,0.0,0
3,1,1,female,35.0,1,0,S,1.0,123
4,0,3,male,35.0,0,0,S,0.0,0

In [6]:
df['Embarked']=df['Embarked'].fillna(0)
df['Embarked']=df['Embarked'].replace(['S', 'C', 'Q'], [1, 2, 3])
df['Embarked'].unique()
df['Sex']=df['Sex'].replace(['male', 'female'], [1, 2])

df['Age']=df['Age'].fillna(0)

In [7]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)
Y=train_df['Survived'].astype(int)
X=train_df.loc[:, df.columns != 'Survived']

In [8]:
X.head()

     Pclass  Sex   Age  SibSp  Parch  Embarked  Cabin_block Cabin_number
331       1    1  45.5      0      0         1          1.0          124
733       2    1  23.0      0      0         1          0.0            0
382       3    1  32.0      0      0         1          0.0            0
704       3    1  26.0      1      0         1          0.0            0
813       3    2   6.0      4      2         1          0.0            0

In [9]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=30000, random_state=1).fit(X,Y)

In [10]:
Y_test=test_df['Survived'].astype(int)
X_test=test_df.loc[:, df.columns != 'Survived']

predictions = rf.predict(X_test)
accuracy = accuracy_score(Y_test, predictions)
print(f'The accuracy is: {accuracy:.2f}')

The accuracy is: 0.80

In [11]:
df_test=pd.read_csv('/kaggle/input/titanic/test.csv')

In [12]:
df_test['Cabin']=df_test['Cabin'].fillna('')
df_test[['Cabin_block', 'Cabin_number']] = df_test['Cabin'].str.extract(r'(\D)(\d+)')
df_test['Cabin_block']=df_test['Cabin_block'].replace(['C', 'E', 'G', 'D', 'A', 'B', 'F'], [1, 2, 3, 4, 5, 6, 7])
df_test['Cabin_block']=df_test['Cabin_block'].fillna(0)
df_test['Cabin_block'].unique()
df_test['Cabin_number']=df_test['Cabin_number'].fillna(0)
df_test['Embarked']=df_test['Embarked'].fillna(0)
df_test['Embarked']=df_test['Embarked'].replace(['S', 'C', 'Q'], [1, 2, 3])
df_test['Embarked'].unique()
df_test['Sex']=df_test['Sex'].replace(['male', 'female'], [1, 2])

df_test['Age']=df_test['Age'].fillna(0)
df_test['Age'].unique()
del df_test['Fare']
del df_test['Ticket']
del df_test['Name']
del df_test['Cabin']
del df_test['PassengerId']

In [13]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,Cabin_block,Cabin_number
0,0,3,1,22.0,1,0,1,0.0,0
1,1,1,2,38.0,1,0,2,1.0,85
2,1,3,2,26.0,0,0,1,0.0,0
3,1,1,2,35.0,1,0,1,1.0,123
4,0,3,1,35.0,0,0,1,0.0,0

In [14]:
predict=rf.predict(df_test)

In [15]:
df_test=pd.read_csv('/kaggle/input/titanic/test.csv')
result = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': predict})
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

In [16]:
result.to_csv('/kaggle/working/submissions.csv', index=False)